<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
  </h1>
<h2>Score: {{ score }} </h2>

  <p><a routerLink="cat" routerLinkActive="active">Cat is cool</a>
 | <a routerLink="home" routerLinkActive="active">Where</a>
 | <a routerLink="whatup" routerLinkActive="active">Whatup</a>
 | <a routerLink="" routerLinkActive="active">Home</a></p>
 
<h2>Here are some links to help you start: </h2>

<router-outlet></router-outlet>
</div>